<% provide :title do %><%= t("proposals.index.title") %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>

  <% if [
          @search_terms,
          @advanced_search_terms,
          params[:retired].present?,
          params[:selected].present?
        ].any? %>
    <%= render Shared::SearchResultsSummaryComponent.new(
      results: @proposals,
      search_terms: @search_terms,
      advanced_search_terms: @advanced_search_terms
    ) do %>
      <% if params[:retired].present? %>
        <h2><%= t("proposals.index.retired_proposals") %></h2>
      <% elsif params[:selected].present? %>
        <h2><%= t("proposals.index.selected_proposals") %></h2>
      <% end %>
    <% end %>
  <% else %>
    <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals" %>
  <% end %>


  <% if show_recommended_proposals? %>
    <%= render "shared/recommended_index", recommended: @recommended_proposals,
                                           disable_recommendations_path: recommendations_disable_proposals_path,
                                           namespace: "proposals" %>
  <% end %>

  <div class="row proposals-page">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <%= render Shared::BannerComponent.new("proposals") %>

    <!--  <% if show_featured_proposals? %>
        <div id="featured-proposals" class="row featured-proposals">
          <div class="small-12 column">
            <h2>
              <%= t("proposals.index.featured_proposals") %>
            </h2>
          </div>
          <% @featured_proposals.each do |featured_proposal| %>
            <%= render "featured_proposal", proposal: featured_proposal %>
          <% end %>
        </div>
      <% end %>

      -->

      <% unless params[:selected].present? %>
        <div class="row">
          <div class="small-12 column">
            <%= render "view_mode" %>
          </div>
        </div>
      <% end %>

      <% unless params[:retired].present? || params[:selected].present? %>
        <%= render Shared::AdvancedSearchComponent.new %>
      <% end %>

      <% unless params[:selected].present? %>
        <%= render "shared/order_links", i18n_namespace: "proposals.index" %>
      <% end %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_path,
                      class: "button expanded button-custom" %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <% if proposals_default_view? %>
            <%= render partial: "proposals/proposal", collection: @proposals %>
          <% else %>
            <% @proposals.each do |proposal| %>
              <%= render "/proposals/proposal_minimal", proposal: proposal %>
            <% end %>
          <% end %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>
        <%= paginate @proposals %>

        <% unless @search_terms || @advanced_search_terms %>
        <div id="section_help" class="margin" data-magellan-target="section_help">
            <p class="lead">
              <strong><%= t("proposals.index.section_footer.title") %></strong>
            </p>
            <p><%= t("proposals.index.section_footer.description") %></p>
        </div>
        <% end %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <!-- <%= link_to t("proposals.index.start_proposal"),
                    new_proposal_path,
                    class: "button expanded button-custom" %> -->

        <div class="sidebar-divider"></div>
      <h2 class="sidebar-title"><%= t("proposals.index.selected_proposals") %></h2>
        <p class="small custom-font-anakotmai">
          <%= link_to t("proposals.index.selected_proposals_link"), proposals_path(selected: "all") %><br>
          <%= link_to t("proposals.index.retired_proposals_link"),
          proposals_path(retired: "all"),
          class: "small" %>
        </p>

        <div class="tag-cloud">
          <div class="sidebar-divider"></div>
          <h1 class="sidebar-title"><%= t("shared.tags_cloud.tags") %></h1>
          <br>
          <%# <a href="/proposals?search=เศรษฐกิจ">เศรษฐกิจ</a>
          <a href="/proposals?search=เกษตร">เกษตร</a>
          <a href="/proposals?search=พลังงาน">พลังงาน</a>
          <a href="/proposals?search=สาธารณสุข">สาธารณสุข</a>
          <a href="/proposals?search=การศึกษา">การศึกษา</a>
          <a href="/proposals?search=คมนาคม">คมนาคม</a>
          <a href="/proposals?search=สิ่งแวดล้อม">สิ่งแวดล้อม</a>
          <a href="/proposals?search=แรงงาน">แรงงาน</a>
          <a href="/proposals?search=สวัสดิการ">สวัสดิการ</a>
          <a href="/proposals?search=ระบบราชการ">ระบบราชการ</a>
          <a href="/proposals?search=การทุจริต">การทุจริต</a>
          <a href="/proposals?search=ดิจิทัล">ดิจิทัล</a>
          <a href="/proposals?search=ประชาธิปไตย">ประชาธิปไตย</a>
          <a href="/proposals?search=สิทธิมนุษยชน">สิทธิมนุษยชน</a>
          <a href="/proposals?search=ความเท่าเทียมทางเพศ">ความเท่าเทียมทางเพศ</a>
          <a href="/proposals?search=ความปลอดภัย">ความปลอดภัย</a>
          <a href="/proposals?search=กองทัพ">กองทัพ</a>
          <a href="/proposals?search=ตำรวจ">ตำรวจ</a>
          <a href="/proposals?search=วัฒนธรรม">วัฒนธรรม</a>
          <a href="/proposals?search=การต่างประเทศ">การต่างประเทศ</a> %>
          </div>
          <%= render "proposals_lists" %>
      </aside>
    </div>
 <script>
    $(document).ready(() => {
        const categories = [
        "เศรษฐกิจ",
        "เกษตร",
        "พลังงาน",
        "สาธารณสุข",
        "การศึกษา",
        "คมนาคม",
        "สิ่งแวดล้อม",
        "แรงงาน",
        "สวัสดิการ",
        "ระบบราชการ",
        "การทุจริต",
        "ดิจิทัล",
        "ประชาธิปไตย",
        "สิทธิมนุษยชน",
        "ความเท่าเทียมทางเพศ",
        "ความปลอดภัย",
        "กองทัพ",
        "ตำรวจ",
        "วัฒนธรรม",
        "การต่างประเทศ",
        ];

       const prepareHTML = categories.map((category) =>
          `<a href="/proposals?search=${category.replace(/\s/, '+')}">${category}</a>`
        );
        $('.tag-cloud').append(prepareHTML)

      });
 </script>
  </div>
</main>
